* {
    box-sizing: border-box;
  }
  body{
    background-color: #0b0b0c;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  header, section, .main, footer {
    margin: 0 auto;
  }
  
  
  
  
  
  /*NAV*/
  nav {
    padding: 10px;
    background-color: rgb(236, 233, 8);
  }
  ul, h2 {
    
    display: inline-block;
  }
  
  nav ul{
    padding: 0 20px;
    
    
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 0.7em;
    
  }
  
  nav a {
    text-decoration: none;
    color: #000;
  }
  
  nav a:hover {
    
    color: #fff;
  }
  
  main a {
    text-decoration: none;
    color: #000;

  }

  main a:hover {
    color: #fff;
  }
  nav h2{
    font-size: 1.3em;
    
    
  }
  
  
  
  .profilediv {
    background-color: #000;
    padding: 100px;
    color: #A9A9A9;
    font-size: 1em;
    line-height: 2em;
  }
  
  
  .topiclist {
    width: 500px;
  height: 400px;
  background-color: #000;
    
    color: #A9A9A9;
    font-size: 1em;
    line-height: 2em;
  overflow-y: auto;
  margin: 50px auto;
  
  border: solid 4px whitesmoke;
  text-align: left;
  
  
  }
.poruke{
    width: 500px;
  height: 400px;
  background-color: #000;
    
    color: #A9A9A9;
    font-size: 1em;
    line-height: 2em;
  overflow-y: auto;
  margin: 50px auto;
  
  border: solid 4px whitesmoke;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
.deconstructed {
    position: relative;
    margin: auto;
    height: 0.71em;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
  }
  
  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f0f0f0;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }

  nav {
    width: 15%;
    
    height: 99%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
}